{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}SimplifiedAuction{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
</head>
<body>
    {% block navbar %}
    <!-- Navigation Bar -->
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                {% comment %}<li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'auctions' %}">Auctions</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Sign In</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'create_auction' %}">Create Auction</a></li>
                    <li><a href="{% url 'profile' %}">My Profile</a></li>
                    <li><a href="{% url 'my_auction' %}">My Auction</a></li>
                    <li><a href="{% url 'my_bids' %}">My Bids</a></li>
                    <li><a href="{% url 'logout' %}">Sign Out</a></li>
                {% endif %}{% endcomment %}
                <li><a href="#">Home</a></li>
                <li><a href="#">Auctions</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Sign In</a></li>
                {% if user.is_authenticated %}
                    <li><a href="#">Create Auction</a></li>
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">My Auction</a></li>
                    <li><a href="#">My Bids</a></li>
                    <li><a href="#">Sign Out</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock navbar %}

    {% block main_content %}
    <!-- Main Content Section -->
    <div class="uk-container">
        {% block content %}
        {% endblock %}
    </div>
    {% endblock main_content %}

    {% block footer %}
    <!-- Footer -->
    <footer class="uk-text-center uk-padding">
        <p>&copy; 2024 AuctionSite. All rights reserved.</p>
        <p><a href="{% url 'about' %}">About Us</a> | <a href="{% url 'contact' %}">Contact</a></p>
    </footer>
    {% endblock footer %}

    {% block scripts %}
    <!-- Scripts -->
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    {% endblock scripts %}
</body>
</html>