{% extends 'base.html' %}

{% load static %}

{% block title %}My Auctions - AuctionSite{% endblock %}

{% block navbar %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock navbar %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1>My Auctions</h1>
            
            {% if auctions %}
                <ul class="uk-list uk-list-divider">
                    {% for auction in auctions %}
                        <li>
                            <div class="uk-card uk-card-default uk-card-body uk-margin">
                                <div class="uk-grid-match" uk-grid>
                                    <div class="uk-width-2-3@m">
                                        <h3 class="uk-card-title">{{ auction.name }}</h3>
                                        <p><strong>Description:</strong> {{ auction.description }}</p>
                                        <p><strong>Starting Price:</strong> ${{ auction.starting_price }}</p>
                                        <p><strong>Current Price:</strong> ${{ auction.current_price }}</p>
                                        <p><strong>End Time:</strong> {{ auction.end_time }}</p>
                                        <div class="auction-actions">
                                            <div>
                                                <a href="{% url 'auction_detail' auction.id %}" class="uk-button uk-button-primary">View Auction</a>
                                                <a href="{% url 'update_auction' auction.id %}" class="uk-button uk-button-primary">Update Auction</a>
                                                <form action="{% url 'delete_auction' auction.id %}" method="POST" class="uk-display-inline-block">
                                                    {% csrf_token %}
                                                    <button type="submit" class="uk-button uk-button-danger">Delete Auction</button>
                                                </form>
                                            </div>
                                            <div class="uk-margin-top">
                                            </div>
                                            <div class="uk-margin-top">
                                                <form action="{% url 'extend_auction' auction.id %}" method="POST" class="uk-display-inline-block">
                                                    {% csrf_token %}
                                                    <input type="number" name="additional_days" placeholder="Days to extend" min="1" required class="uk-input" style="width: 150px;">
                                                    <button type="submit" class="uk-button uk-button-primary">Extend Auction</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m">
                                        <img src="{{ auction.image.url }}" alt="{{ auction.name }}" class="uk-width-1-1">
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="uk-text-lead">You have not created any auctions yet.</p>
            {% endif %}
            
            <div class="uk-margin-top">
                <a href="{% url 'my_profile' %}" class="uk-button uk-button-primary">Back to Profile</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ block.super }}
{% endblock footer %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock scripts %}
